.navbar .btn-outline-light:hover {  /* To target the Contact button / link in the navbar */
    color: var(--bs-dark);  /* To change the font color when hover over it - --bs-dark is a bootstrap variable ($dark in _variables.scss) */
  }

  .navbar-sticky {  /* When scrolling on he y axis > 50px */
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .navbar {
    transition: all 0.5s ease-in-out; /* To have the effect of a changing the bg color (scroll > 50px) for the navbar with a transition */
  }

  .header {
    background: url(../images/header-background.jpg) center center no-repeat;
    background-size: cover;
  }

  .modal-dialog {
    max-width: 1040px;  /* To have the modals a bit wider */
  }

  .download {
    background: url('../images/download-background.jpg') center center no-repeat;
    background-size: cover;
  }

  .map iframe {
    left: 0;
    top: 0;
    height: 400px;
    width: 100%;
    border: none;
  }

  @media (max-width: 1000px) {  /* To center the image and text from the hero part for viewports below 1001px */
    .hero .image-container {
      display: flex;
      justify-content: center;
    }
  
    .hero .text-container {
      text-align: center;
    }
  }